<template name="profile">
	<!-- The League Header -->
	{{>leagueHeader}}
	<!-- End Leage Header -->

	<div class="container" id="main">
		<h1>{{ currentUser.username }}</h1>
		<h3>
			{{#if canEdit}}
				<input type="text" name="name" id="inputName" value="{{currentUser.profile.name}}"> <button class="btn btn-scucess" id="done">Done</button>
			{{else}}
				{{currentUser.profile.name}} <button class="btn btn-info" id="edit">Edit</button>
			{{/if}}
		</h3>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Contact Info</h4>
					</div>
					<div class="panel-body">
						<ul>
							{{#if canEdit}}
								<li>Phone: <input type="text" id="inputPhone" name="phone" value="{{currentUser.profile.contact.phone}}"></li>
								<li>Email: <input id="inputEmail" type="text" value="{{currentUser.profile.contact.email}}"/></li>	
							{{else}}
								<li>Phone: <label>{{currentUser.profile.contact.phone}}</label></li>
								<li>Email: <label>{{currentUser.profile.contact.email}}</label></li>
							{{/if}}
							
						</ul>
					</div>
				</div>
			</div>	
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>GHIN</h4>
					</div>
					<div class="panel-body">
						<ul>
							{{#if canEdit}}
								<li>GHIN: <input type="text" id="inputGhin" name="ghin" value="{{currentUser.profile.ghin.number}}"></li>
							{{else}}
								<li>GHIN: <label>{{currentUser.profile.ghin.number}}</label></li>
							{{/if}}
							<li>HDCP: <label>{{currentUser.profile.ghin.hdcp}}</label></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Match Preferences</h4>
					</div>
					<div class="panel-body">
						<h6>Region:</h6> 
						<select><option>West Boston</option></select>
						<h6>Time Preference:</h6>
							<table class="table">
								<tr>
									<td></td>
									<td>M</td>
									<td>T</td>
									<td>W</td>
									<td>R</td>
									<td>F</td>
									<td>S</td>
									<td>S</td>
								</tr>
								<tr>
									<td>AM</td>
									<td><input type="checkbox" id="inputDay1"></td>
									<td><input type="checkbox" id="inputDay2"></td>
									<td><input type="checkbox" id="inputDay3"></td>
									<td><input type="checkbox" id="inputDay4"></td>
									<td><input type="checkbox" id="inputDay5"></td>
									<td><input type="checkbox" id="inputDay6"></td>
									<td><input type="checkbox" id="inputDay7"></td>
								</tr>
								<tr>
									<td>PM</td>
									<td><input type="checkbox" id="inputDay11"></td>
									<td><input type="checkbox" id="inputDay12"></td>
									<td><input type="checkbox" id="inputDay13"></td>
									<td><input type="checkbox" id="inputDay14"></td>
									<td><input type="checkbox" id="inputDay15"></td>
									<td><input type="checkbox" id="inputDay16"></td>
									<td><input type="checkbox" id="inputDay17"></td>
								</tr>
							</table>
						<br>
						<select><option>AM</option></select>
						<h6>Cost Preference</h6>
						<select><option>&lt; $40</option></select>
					</div>
				</div>
			</div>	
		</div>
	</div>
</template>