<template name="profile">
    <!-- The League Header -->
    {{>leagueHeader}}
    <!-- End Leage Header -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>{{ currentUser.username }}</h1> {{#if canEdit}}
                <button class="btn waves-effect waves-light" id="done"><i class="material-icons">done</i></button>
                {{else}}
                <button class="btn waves-effect waves-light" id="edit"><i class="material-icons">mode_edit</i></button>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-content">
                        <h5>Contact Info</h5>
                        <ul>
                            {{#if canEdit}}
                            <li>Name:
                                <input type="text" placeholder="{{currentUser.profile.name}}" name="name" id="inputName" value="{{currentUser.profile.name}}"> </li>
                            <li>Phone:
                                <input type="text" id="inputPhone" name="phone" value="{{currentUser.profile.contact.phone}}">
                            </li>
                            <li>Email:
                                <input id="inputEmail" type="text" value="{{currentUser.profile.contact.email}}" />
                            </li>
                            <li>Address:
                                <input id="inputAddress" type="text" value="{{currentUser.profile.contact.address}}" /><small>We use this to find matches near you.</small></li>
                            {{else}}
                            <li>Name:
                                <label>{{currentUser.profile.name}}</label>
                            </li>
                            <li>Phone:
                                <label>{{currentUser.profile.contact.phone}}</label>
                            </li>
                            <li>Email:
                                <label>{{currentUser.profile.contact.email}}</label>
                            </li>
                            <li>Address:
                                <label>{{currentUser.profile.contact.address}}</label>
                            </li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
            	<div class="card">
            		<div class="card-content">
            			<h5>GHIN</h5>
            			<ul>
            			{{#if canEdit}}
            			<li>GHIN #:
            			    <input type="text" id="inputGhin" name="ghin" value="{{currentUser.profile.ghin.number}}"/>
            			</li>
            			<li>HDCP:
            			    <input type="text" id="inputHdcp" name="ghin" value="{{currentUser.profile.ghin.hdcp}}"/>
            			</li>
            			{{else}}
            			<li>GHIN #:
            			    <label>{{currentUser.profile.ghin.number}}</label>
            			</li>
            			<li>HDCP:
            			    <label>{{currentUser.profile.ghin.hdcp}}</label>
            			</li>
            			{{/if}}
            			</ul>
            		</div>
            	</div>
            </div>
        </div>
        <hr>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Match Preferences</h4>
                    </div>
                    <div class="panel-body">
                        <h6>Willing to travel:</h6> {{#if canEdit}}
                        <select name="radius" id="inputPrefRadius">
                            <option value="5">5 miles</option>
                            <option value="15">15 miles</option>
                            <option value="25">25 miles</option>
                            <option value="30+">30+ miles</option>
                        </select>
                        {{else}} {{myRadiusPref}} {{/if}}
                        <h6>Time Preference:</h6> {{#each myTimePrefs}}
                        <strong>{{day}}</strong> &mdash; From: {{fromTime}} to: {{toTime}}
                        <br> {{/each}} {{#if canEdit}} {{#if canAddTimePref}}
                        <br> Day:
                        <select name="day" id="inputPrefDay">
                            <option value="M">Monday</option>
                            <option value="T">Tuesday</option>
                            <option value="W">Wednesday</option>
                            <option value="R">Thursday</option>
                            <option value="F">Friday</option>
                            <option value="Sa">Saturday</option>
                            <option value="Su">Sunday</option>
                        </select>
                        From:
                        <select name="fromTime" id="inputPrefFrom">
                            <option value="6">6:00 AM</option>
                            <option value="7">7:00 AM</option>
                            <option value="8">8:00 AM</option>
                            <option value="9">9:00 AM</option>
                            <option value="10">10:00 AM</option>
                            <option value="11">11:00 AM</option>
                            <option value="12">12:00 PM</option>
                            <option value="13">1:00 PM</option>
                            <option value="14">2:00 PM</option>
                            <option value="15">3:00 PM</option>
                            <option value="16">4:00 PM</option>
                            <option value="17">5:00 PM</option>
                            <option value="18">6:00 PM</option>
                        </select>
                        To:
                        <select name="toTime" id="inputPrefTo">
                            <option value="6">6:00 AM</option>
                            <option value="7">7:00 AM</option>
                            <option value="8">8:00 AM</option>
                            <option value="9">9:00 AM</option>
                            <option value="10">10:00 AM</option>
                            <option value="11">11:00 AM</option>
                            <option value="12">12:00 PM</option>
                            <option value="13">1:00 PM</option>
                            <option value="14">2:00 PM</option>
                            <option value="15">3:00 PM</option>
                            <option value="16">4:00 PM</option>
                            <option value="17">5:00 PM</option>
                            <option value="18">6:00 PM</option>
                        </select>
                        <button class="btn btn-success" id="addTimePrefDone">&check; Done</button>
                        {{else}}
                        <button class="btn btn-info" id="addTimePref">&plus; Add </button>
                        {{/if}} {{/if}}
                        <h6>Cost Preference</h6> {{#if canEdit}}
                        <select name="cost" id="inputPrefCost">
                            <option value="40">&lt; $40</option>
                        </select>
                        {{else}} {{myCostPref}} {{/if}}
                    </div>
                </div>
            </div>
            </div>
</template>
