<template name="home">
<br>
<br>
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">
        <p class="center">
          <img class="center responsive-img circle" src="images/from-work.png"/>
        </p>      
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col m10 s12 offset-m1">
        <p class="flow-text">
                Born and raised in a small town just outside of Toronto, 
                ON, I attended (and graduated from) 
                <a href="http://www.bentley.edu">Bentley University</a> in 
                Waltham, MA. I work as an implementation consultant for the Adobe 
                Marketing Cloud and I help change the way marketers work. 
                When I'm not working, I'm a competitive golfer, restaurant explorer,
                Netflix enthusiast and coffee connoisseur.
        </p>
        <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adip<span style="color:red">*</span>isicing elit, sed do eiusmod <span style="color:red">*</span>tempor incididunt ut labore et dolore magna aliqua.
        </p> -->
      </div>
    </div>
  </div>
    
</template>