<template name="hub">
	<div class="container">
		<h2>Hubspot Landing Page</h2>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
					<h3>Recent Practice</h3>
				
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Start of Async HubSpot Analytics Code -->
	  <script type="text/javascript">
	    (function(d,s,i,r) {
	      if (d.getElementById(i)){return;}
	      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
	      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1559111.js';
	      e.parentNode.insertBefore(n, e);
	    })(document,"script","hs-analytics",300000);
	  </script>
	<!-- End of Async HubSpot Analytics Code -->
</template>