<template name="images">
	<div class="container">
	<!-- <div class="row">
		<div class="col-md-6">
			<h3>Canvas 1</h3>
			<canvas id="1" height="400" width="500" style="background-color: #a9a9a9">
			
			</canvas>	
		</div>
	</div> -->
	<div class="row">
		<div class="col-md-3">
			<h3>Points</h3>
			<button>Click to load my face</button><br>
			{{#each points}}
				[{{this}}] <br>
			{{/each}}
		</div>
		<div class="col-md-9">
			<h3>Canvas 2</h3>
			{{message}} <br>
			<canvas id="2" height="400" width="500" style="background-color: #a9a9a9">
			
			</canvas>	
		</div>
	</div>
		
	</div>

	
	<img style="display:none" id="test" src="images/circle.png">
	<img style="display:none" id="glasses" src="images/glasses.png">
</template>